body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    text-align: center;
}


.container3 a img {
  width: 70px;
}



.logos {
  display: flex;
  justify-content: center;
}

.logos a {
  margin: 0 50px; 
}



.Ofertas {
  display: flex;
}

.Ofertas li{
  margin: auto;
  list-style: none;
}


.container3 {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 0 195px; 
}


.left ul, .right ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.right {
  text-align: right;
}

.right img {
  vertical-align: middle; 
}

.container3 li {
  color: #fff;
  list-style: none;
  
}


.container1 {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 173px; 
}

.menu {
  margin-right: auto; 
}

.logobux {
  margin  :auto; 
}

.login {
  margin-left: auto ; 
  padding: 0 170px ;
  
}

.login a{
  text-decoration: none;
  color: black;
}


header {
  background-color: #000000;
  color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    margin: 0;
}






.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
    
  }
  
  .menu ul li {
    position: relative;
    display: inline-block;
  }
  
  .menu ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #000000;
  }
  
  .menu ul li:hover > ul {
    display: block;
    animation: slideDown 0.3s ease-in-out;
  }
  
  .menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    z-index: 999; 
  }
  
  .menu ul ul li {
    display: block;
  }
  
  .menu ul ul li a {
    padding: 10px 20px;
    color: black;
    
  }
  
  .menu ul ul ul {
    left: 100%;
    top: 0;
  }
  
  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

section {
    padding: 100px 20px;
}

#hero {
  background-size: cover;
  text-align: center;
    color: #000000;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255);
  color: #000000;
  text-decoration: none;
  border-radius: 5px;  

}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 20px;
}


.marcas h2{
  border: 1px solid rgb(7, 3, 3); 
  border-radius: 0; 
  overflow: hidden; 
  width: 300px; 
  height: 35px; 
  background-color: #ffffff;
  margin: auto 10;
              
}


.modelos-container {
  display: flex;
  justify-content: center;
}

.image-wrapper {
  width: 440px;
  margin: 0 70px;
  overflow: hidden; 
}

.centered-image-wrapper {
  width: 440px;
  margin: 20px auto; 
  overflow: hidden; 
  
}


.zoomable {
  width: 100%;
  transition: transform 0.3s ease;
}


.zoomable:hover {
  transform: scale(1.04); 
  transform-origin: center center; 
  
}




.container-zomable {
  width: 400px; 
  overflow: hidden;
  width: 400px;
  
}









.swiper-container {
    width: 100%;
    max-width: 2000px; 
    margin:  auto 0%; 
    overflow: hidden;
}

.swiper-slide {
  margin-right: 0; 
}

.swiper-slide img {
    width: calc(2000px - 40px); 
    height: auto; 
    border-radius: 1px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    cursor: pointer;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute; 
    top: 45%; 
    transform: translateY(-50%); 
    width: 40px; 
    height: 40px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: #fff; 
    border-radius: 50%; 
    text-align: center; 
    line-height: 40px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}
.swiper-button-nextt {
    right: 4; 
}

.swiper-button-prevv {
    left: 4; 
}





.custom-swiper-container {
  width: 100%;
  max-width: 1200px; 
  margin: 0 auto; 
  position: relative; 
  overflow: hidden;
}

.custom-swiper-slide {
  width: 200px; 
  height: auto; 
  display: inline-block; 
  vertical-align: top; 
  margin-right: 20px; 
}

.custom-swiper-slide img {
  max-width: 100%; 
  height: auto; 
  border-radius: 10px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}


.custom-swiper-button-next,
.custom-swiper-button-prev {
  position: absolute; 
  top: 50%; 
  transform: translateY(-50%); 
  width: 40px; 
  height: 40px; 
  background-color: rgba(0, 0, 0, 0.5); 
  color: #fff; 
  border-radius: 50%; 
  text-align: center; 
  line-height: 40px; 
  cursor: pointer; 
  transition: background-color 0.3s ease; 
}

.custom-swiper-button-next:hover,
.custom-swiper-button-prev:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}

.custom-swiper-button-next {
  right: 0; 
}

.custom-swiper-button-prev {
  left: 0; 
}


.carousel-container {
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.carousel-slide {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  flex: 0 0 calc(25% - 10px); 
  margin-right: 10px; 
  text-align: center;
  position: relative;
  overflow: hidden;
}


.carousel-item img,
.carousel-item .price {
  max-width: 100%; 
  height: auto; 
  transition: transform 0.3s ease; 
}

.carousel-item:hover img,
.carousel-item:hover .price {
  transform: scale(1.1); 
}

.carousel-item .price {
  margin-top: 5px;
  color: #333;
  font-size: 14px;
  transition: color 0.3s ease; 
}

.carousel-item:hover .price {
  color: #000000; 
}

.carousel-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 2;
  transition: background-color 0.3s ease;
}

.carousel-btn:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.prev-btn {
  left: 10px;
}

.next-btn {
  right: 10px;
}


.carousel-btn i {
  font-size: 20px;
}
